
<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <!-- object CORRESPONDING TO PRODUCT TO EDIT (passed as parameter (** IN PAGE RENDERING)) -->
    <% if (product) { %>
        <!-- form data ** SENT AS A POST request (in http body) in specified 'enctype encoded way' -->
        <form class="add-product-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="product_name">Name</label>
                    <input type="text" class="form-control" name="product_name" id="product_name" value="<%= product.product_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="product_type">Type</label>
                    <input type="text" class="form-control" name="product_type" id="product_type" value="<%= product.product_type %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="product_company">Company</label>
                    <input type="text" class="form-control" name="product_company" id="product_company" value="<%= product.product_company %>" required>
                </div>
                <!-- <div class="form-group col-md-4">
                    <label for="username">Company</label>
                    <input type="text" class="form-control" name="username" id="username" value="<%= product.user_name %>" required disabled title="Username can't be changed">
                </div> -->


                <!-- col-md-6 ** -> for WHEN HAVE OPTIONS/DROPDOWN -->

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="number">Current Stock</label>
                    <input type="number" class="form-control" name="current_stock" id="current_stock" placeholder="Number" value="<%= product.current_stock %>" required disabled title = "Can't be changed">
                </div>
                <div class="form-group col-md-6">
                    <label for="number">Price</label>
                    <input type="number" class="form-control" name="current_price" id="current_price" placeholder="Number" value="<%= product.current_price %>" required>
                </div>
                
            </div>
            <button type="submit" class="btn btn-success float-right">Update Product</button>
        </form>
    <% } else { %>
        <p class="text-center">Product Not Found. Go <a href="product/add">here</a> to add products.</p>
    <% } %>
</div>
</div>
</body>
</html>